.keyword1 {
    -fx-fill: #7f0055;
}

.keyword2 {
    -fx-fill: #7f0055;
}

.keyword3 {
    -fx-fill: #7f0055;
}

.operator {
    -fx-fill: #000000;
}

.paren {
    -fx-fill: navy;
}

.brace {
    -fx-fill: navy;
}

.bracket {
    -fx-fill: navy;
}

.semicolon {
    -fx-fill: #000000;
}

.string {
    -fx-fill: #2A00FF;
}

.comment {
    -fx-fill: #3F7F5F;

}

.text {
    -fx-fill: black;
}